h1,h2,h3,h4,h5,h6,p,a,figure,ul,li{
    font-family: "Arial";
}
body{
    background: linear-gradient(beige, khaki);
}
#encabezado{
    display:flex;
    width: 900px;
    height: 200px;
}
#m_imagen{
    width:200px;
}
#btm{
    flex-direction: column;
}
#menu>ul>li>a:hover {border: 3px solid rgb(0, 0, 0); background-color: rgba(220,220,220,20); transition:0.5s;}
#menu>ul>li>a {border: 3px solid rgb(0, 0, 0); padding: 10px; transition:0.5s;}
#menu>ul>li {display: inline-block;}
#menu li{list-style-type: none; padding:0;}
#menu li{text-decoration: none; padding: 0; display: inline-block;}
#menu li ul{display:none;}
#menu li a{text-decoration:none; color:rgb(0, 0, 0);}
.boton {
    background-color: rgba(255, 255, 255, 0) ; transition:0.5s;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    padding: 3px;
}
.boton>div {
    padding: 2px 5px;
}
.boton p {
    color: white;
    font-size: 1em;
}
.boton:hover{
    box-shadow: 0 0 10px rgba(6,100,255,20);
    background-color: rgba(6,100,255,20); transition:0.5s;
}
.flexible {
    display: flex;
}
.container{
    width: 900px;
    margin-right: 10px;
	margin: 0 auto;
}
#encabezado{
	height: 170px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
#barra_lateral #indice{
    width: 200px;
}
#indice {
    position: fixed;
}
#articulos{
    width:500px;
    position: center;
}