#encabezado{
    display:flex;
    width: 900px;
    height: 200px;
}
#btm{
    flex-direction: column;
}
#menu>ul>li>a:hover {border: 1px solid rgb(6,100,255); background-color: rgba(6,100,255,20); box-shadow: 0 0 10px rgba(6,100,255,20); transition:0.5s;}
#menu>ul>li>a {border: 1px solid rgb(6,100,255); padding: 10px; transition:0.5s;}
#menu>ul>li {display: inline-block;}
#menu li{list-style-type: none; padding:0;}
#menu li{text-decoration: none; padding: 0; display: inline-block;}
#menu li ul{display:none;}
#menu li a{text-decoration:none; color:White;}
.boton {
    background-color: rgba(6,100,255,0) ; transition:0.5s;
    border: 1px solid rgb(6,100,255);
    display: inline-block;
    padding: 3px;
}
.boton>div {
    padding: 2px 5px;
}
.boton p {
    color: white;
    font-size: 1em;
}
.boton:hover{
    box-shadow: 0 0 10px rgba(6,100,255,20);
    background-color: rgba(6,100,255,20); transition:0.5s;
}
.flexible {
    display: flex;
}